 body {
    font-family: 'Segoe UI',sans-serif;
}
.hearder_1 {
    background-color:#FFF7DF;
}
ul {
    list-style:none;
}
.button_connect{
    background-color: #1D3D14;
}
.button_connect:hover{
    background-color: #080d07;
}
.home{
    background-image: url('../image/Home\ Carroussel.jpg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    height: 50vh; 
    width: 100%; color: white;           
}
.card{
    width: 630px;
    height: 330px !important;
    border: none;
}
.image_agri{
    margin-top: -150px;
}
.card img{
    width: 100%;
    height: 100%;
}
.pourcentage_2 i{
    width: 65px;
    height: 65px;
    font-size: 2rem;
    background-color: #203E15;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.carte_image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0 !important;
    border-radius: 15px;
    background-color: white;
    width: 80%;
    height: 20%;
}

.weather-card {
    display: flex;
    justify-content: center;
    background-color: #ebdb53; 
    border-radius: 20px;
    width: 700px;
    height: 400px;
}

.fao-card {
    background-color: #143d1c; 
    border-radius: 20px;
}



.formation-card img {
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.formation-card a {
    text-decoration: none;
}

.formation-card a:hover {
    text-decoration: underline;
}

.formation-card {
    transition: 0.3s ease;
}
.cont_image{
    height: 300px;
}
.cont_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}


/* jhgghj */




/* 
/* CONTENEUR IMAGE POUR ZOOM */
.img-container {
    overflow: hidden;
    border-radius: 16px;
}

.img-container img {
    transition: transform 0.6s ease;
}

.card-hover:hover .img-container img {
    transform: scale(1.10);
}

/* OVERLAY */
.card-overlay {
    position: absolute;
    bottom: 20px;          
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white;
    padding: 10px 20px;
    transition: all 0.5s ease;
}

/* TITRE (en bas au départ) */
.card-overlay h2 {
    background-color: white;
    margin: 0;
    color: black;
    font-size: 24px;
    transition: all 0.5s ease;
    transform: translateY(20px);
    opacity: 0.9;
}

/* TEXTE CACHÉ */
.card-overlay .details {
    background-color: white;
    color: black;
    opacity: 0;
    margin-top: 8px;
    font-size: 15px;
    transition: opacity 0.6s ease;
}

/* HOVER → le titre monte du bas vers le centre */
.card-hover:hover .card-overlay h2 {
    transform: translateY(-20px); 
    opacity: 1;
    font-size: 28px; 
}

/* HOVER → description apparaît */
.card-hover:hover .card-overlay .details {
    opacity: 1;
} 
