/* Carte jaune auteur */
.author-card {
    background-color: #f0dd64;   /* Jaune doux comme ton modèle */
    border-radius: 20px;
}

/* Icônes */
.author-card i:hover {
    color: #146c43;
    cursor: pointer;
}
