 body {
    font-family: 'Segoe UI',sans-serif;
}
.hearder_1 {
    background-color:#FFF7DF;
}
ul {
    list-style:none;
}
.button_connect{
    background-color: #1D3D14;
}
.button_connect:hover{
    background-color: #080d07;
}

/* Réduire la hauteur de l'image */
.banner-img {
    height: 300px;        /* tu peux modifier la valeur */
    width: 100%;
    object-fit: cover;
}

/* Taille texte */
.small-title {
    font-size: 22px;      /* h2 plus petit */
}

.main-title {
    font-size: 42px;      /* h1 plus grand */
}

/* Centrer verticalement le bloc texte */
.banner-text {
    transform: translate(-50%, -50%);
}

.custom-img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Cercle date */
.date-circle {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ded96e;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

