 body {
    font-family: 'Segoe UI',sans-serif;
}
.hearder_1 {
    background-color:#FFF7DF;
}
ul {
    list-style:none;
}
.button_connect{
    background-color: #1D3D14;
}
.button_connect:hover{
    background-color: #080d07;
}

/* Réduire la hauteur de l'image */
.banner-img {
    height: 300px;        /* tu peux modifier la valeur */
    width: 100%;
    object-fit: cover;
}

/* Taille texte */
.small-title {
    font-size: 22px;      /* h2 plus petit */
}

.main-title {
    font-size: 42px;      /* h1 plus grand */
}


.comment-box {
    border: 1px solid #b7d3c4;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
           
}
.reply-icon {
    font-size: 1.4rem;
    cursor: pointer;
}